@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hidden {
  display: none;
}

.icon-show {
  display: block;
}

section {
  height: 60vh;
  max-height: 60vh;
}

.form-card {
  background-color: #f9f9f9;
  border-radius: 2rem;
}

.ant-form-item-explain-error {
  font-size: 0.75rem;
}

.ant-drawer-content-wrapper {
  box-shadow: none !important;
}

.ant-drawer-footer {
  display: flex;
  justify-content: end;
}

h2 {
  color: #fff;
}
